@media (max-width: 1100px) {

    #up-arrow,
    #down-arrow {
        height: 90px;
    }

    #right-arrow {
        transform: translateX(-12px);
    }
}

@media (max-width: 930px) {

    #converter-btn,
    #download-btn {
        height: 40px;
        padding: 5px 20px;
    }
}

@media (max-width: 850px) {
    .dropfile-area {
        width: 320px;
    }

    .dropfile-area div {
        width: 250px;
    }
}

@media (max-width: 780px) {
    #file-form {
        flex-direction: column;
    }

    .dropfile-area {
        height: 200px;
        width: 600px;
        flex-direction: row;
        border-radius: 10px;
    }

    #up-arrow,
    #down-arrow,
    #right-arrow {
        display: none;
    }

    .converter-container {
        height: auto;
        padding: 20px 0;
    }

    .info {
        width: 30%;
        padding: 12% 0 0;
    }
}

@media (max-width: 640px) {
    .dropfile-area {
        height: 200px;
        width: 550px;
    }

    .dropfile-area div {
        width: 200px;
    }
}

@media (max-width: 570px) {
    .dropfile-area {
        flex-direction: column;
        width: 300px;
        height: 300px;
    }

    .dropfile-area div {
        height: 100px;
    }
}

@media (max-width: 450px) {

    #phone-field,
    #code-field {
        width: 360px;
    }
}

@media (max-width: 370px) {
    .sign_in-btn {
        padding: 3px 7px;
    }

    .container {
        padding: 0 15px;
    }

    #phone-field,
    #code-field {
        height: 290px;
        width: 290px;
    }
}

@media (max-height: 380px) {
    #sign_in-form {
        padding-top: 6vh;
    }
}

@media (max-height: 340px) {
    #sign_in-form {
        padding-top: 4vh;
    }
}