{% load static %}
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'convert_order/img/favicon.png' %}"/>
    </head>
    <body>
        <form method="POST" id="code-field">
            {% csrf_token %}
            <p class="subtitle" id="subtitle-field">{{ message|default:"Код отправлен!" }}</p> 
            <input type="text" id="code" name="sms_code" placeholder="Код из смс">
            <input type="submit" class="confirm-btn" id="conf-code-but" value="Подтвердить"> 
        </form>
    </body>
</html>

