{% extends 'convert_order/base.html' %}
{% load i18n %}
{% load static %}

{% block preloadJs %}
<script src="{% static 'convert_order/js/preload.js' %}"></script> 
{% endblock preloadJs %}

{% block TopRightButtons %}
{% if need_to_back %}
    <a href="{% url 'convert_order:files_main' order_id %}" class="sign_in-btn close">{% trans 'Close' %}</a>
{% else %}
    <a href="{% url 'convert_order:clear_main' %}" class="sign_in-btn close">{% trans 'Close' %}</a>
{% endif %}
{% endblock TopRightButtons %}

{% block mainblock %}
<section id="sign_in-form">
    <div id="return-block">
        <p class="subtitle">{% trans "Phone is confirmed!" %}</p> 
        {% if need_to_back %}
            {% if order_is_need_to_be_payed %}
                <a href="{% url 'users:need_to_pay' %}" class="confirm-btn" id="return-back">{% trans 'Close' %}</a>
            {% else %}
                <a href="{% url 'files:load_file' order_slug %}" onclick="setTimeout(function(){window.location.href='/';}, 1000);" class="confirm-btn" id="return-back">{% trans 'Close' %}</a>
            {% endif %}
        {% else %}
            <a href="{% url 'convert_order:clear_main' %}" class="confirm-btn" id="return-back">{% trans 'Close' %}</a>
        {% endif %}
    </div>
</section>
{% endblock mainblock %}

{% block scripts %}
{% endblock scripts %}