{% extends 'convert_order/base.html' %}
{% load i18n %}
{% load static %}

{% block TopRightButtons %}
{% if need_to_back %}
    <a href="{% url 'convert_order:files_main' order_id %}" class="sign_in-btn close">{% trans 'Close' %}</a>
{% else %}
    <a href="{% url 'convert_order:clear_main' %}" class="sign_in-btn close">{% trans 'Close' %}</a>
{% endif %}
{% endblock TopRightButtons %}

{% block mainblock %}
<section id="sign_up-form">
    <h1 class="form-title">{% trans 'Authorization' %}</h1>
    <form method="POST" id="phone-field">
        {% csrf_token %}
        <p class="subtitle" id="phone_subs">{% trans 'Enter the phone number provided during registration' %}</p>
        <input type="phone" name="phone" id="phone" placeholder="{% trans 'Phone number' %}">
        <input type="submit" class="form-btn" id="send-code" value="{% trans 'Send code' %}" disabled>
    </form>
</section>
{% endblock mainblock %}

{% block scripts %}
<script src="{% static 'convert_order/js/sign-in-form.js' %}"></script> 
{% endblock scripts %}
