{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% trans 'Payment' %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'convert_order/img/icon.png' %}"/> 
    <link rel="stylesheet" href="{% static 'convert_order/css/styles.css' %}"> 
    <link rel="stylesheet" href="{% static 'convert_order/css/media.css' %}"> 
</head>

<body>
    <header class="header">
        <div class="container wrapper">
            <a href="{% url 'convert_order:clear_main' %}" class="logo">
                <img src="{% static 'convert_order/img/converter-logo.jpg' %}" alt="">
                <span>{% trans 'SAP XML Converter' %}</span>
            </a>
            {% if need_to_back %}
                <a href="{% url 'convert_order:files_main' order_id %}" class="sign_in-btn close">{% trans 'Close' %}</a>
            {% else %}
                <a href="{% url 'convert_order:clear_main' %}" class="sign_in-btn close">{% trans 'Close' %}</a>
            {% endif %}
        </div>
    </header>

    <section id="sign_in-form">
        <div id="pay-block">
            <p class="subtitle">{% trans 'The following conversions require payment:' %} {{ ruble_price }}р {% trans 'or' %} ${{ dollar_price }} {% trans 'or' %} {{ euro_price }}€</p>
            <a class="confirm-btn" id="pay-btn">{% trans 'Payment' %}</a>
        </div>
    </section>

    <footer class="footer">
        <p class="footer-copyright">{% trans '© Copyright 2023. All rights reserved' %}</p>
    </footer>
</body>

</html>
