{% extends 'convert_order/base.html' %}
{% load i18n %}
{% load static %}

{% block TopRightButtons %}
{% if need_to_back %}
    <a href="{% url 'convert_order:files_main' order_id %}" class="sign_in-btn close">{% trans 'Close' %}</a>
{% else %}
    <a href="{% url 'convert_order:clear_main' %}" class="sign_in-btn close">{% trans 'Close' %}</a>
{% endif %}
{% endblock TopRightButtons %}

{% block mainblock %}
<section id="sign_in-form">
    <div id="pay-block">
        <p class="subtitle">{% trans 'The following conversions require payment:' %}</p>
        <p class="price">{{ ruble_price }}₽</p>
        <a class="confirm-btn" href="{{ payment_url }}" id="pay-btn">{% trans 'Payment' %}</a>
    </div>
</section>

<style>

</style>
{% endblock mainblock %}

{% block scripts %}
<script src="{% static 'convert_order/js/file-form.js' %}"></script>
{% endblock scripts %}