{% extends 'convert_order/base.html' %}
{% load i18n %}
{% load static %}

{% block mainblock %}
<section class="about">
    <h1 class="form-title">{% trans 'Error 404. Page not found!' %}</h1>
    <p class="error-text">
        {% trans 'Something seems to have gone wrong! The page you are requesting does not exist. Perhaps it is out of date, has been removed, or an incorrect address has been entered in the address bar.' %}
    </p>
    <a href="{% url 'convert_order:clear_main' %}" class="return-btn">{% trans 'Back' %}</a>
</section>
{% endblock mainblock %}
