{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% trans 'Internal Server Error - 500' %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'convert_order/img/icon.jpg' %}"/> 
    <link rel="stylesheet" href="{% static 'convert_order/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'convert_order/css/media.css' %}"> 
</head>

<body>
    <header class="header">
        <div class="container wrapper">
            <a href="{% url 'convert_order:clear_main' %}" class="logo">
                <img src="{% static 'convert_order/img/converter-logo.jpg' %}" alt="">
                <span>{% trans 'SAP XML Converter' %}</span>
            </a>

            <div class="button-container">
                <a href="{% url 'users:login' %}" class="sign_in-btn">{% trans 'Authorization' %}</a>
                <a href="{% url 'users:register' %}" class="sign_in-btn">{% trans 'Sign up' %}</a>
                <form id="language-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <select id="language-select" name="language" class="lang-btn">
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.code }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const languageForm = document.getElementById('language-form');
                        const languageSelect = document.getElementById('language-select');
                        
                        // Add event handler for select change
                        languageSelect.addEventListener('change', function () {
                            languageForm.submit(); // Submit the form on value change
                        });
                    });
                </script>
            </div>
        </div>
    </header>

    <section class="about">
        <h1 class="form-title">{% trans 'Internal Server Error - 500' %}</h1>
        <p class="error-text">
            {% trans 'An unexpected error occurred on the server. Please wait, it will be fixed soon.' %}
        </p>
        <a href="{% url 'convert_order:clear_main' %}" class="return-btn">{% trans 'Back' %}</a>
    </section>

    <footer class="footer">
        <p class="footer-copyright">{% trans '© Copyright 2023. All rights reserved' %}</p>
    </footer>

</html>
