{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title> {% block title %} {% trans 'SAP XML - Generator Converter' %} {% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'convert_order/img/icon.jpg' %}" />
    <link rel="stylesheet" href="{% static 'convert_order/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'convert_order/css/media.css' %}">
</head>

<body>
    <header class="header">
        <div class="container wrapper">
            <!---------- Иконка и название ---------->
            <a href="{% url 'convert_order:clear_main' %}" class="logo">
                <img src="{% static 'convert_order/img/converter-logo.jpg' %}" alt="">
                <span>{% trans 'SAP XML Converter' %}</span>
            </a>
            <!--------------------------------------->
            <div class="button-container">
                <!-- Кнопки регистрации и входа на сайт -->
                {% if phone_is_confirmed %}
                    <a class="sign_in-btn">{% trans 'Free Downloads:' %}{{ amount_of_convertations }}</a>
                {% else %}
                    {% if files_uploaded %}
                        <a href="{% url 'users:login_back_to' order_id %}" class="sign_in-btn">{% trans 'Authorization' %}</a>
                        <a href="{% url 'users:register_back_to' order_id %}" class="sign_in-btn">{% trans 'Sign up' %}</a>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="sign_in-btn">{% trans 'Authorization' %}</a>
                        <a href="{% url 'users:register' %}" class="sign_in-btn">{% trans 'Sign up' %}</a>
                    {% endif %}
                {% endif %}
                <!---------------------------------------->
                <!----- Форма для выбора языка сайта ----->
                <form id="language-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    <select id="language-select" name="language" class="lang-btn">
                        {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                            {{ language.code }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
                <!---------------------------------------->
            </div>
        </div>
    </header>

    {% block mainblock %}{% endblock mainblock %}

    <footer class="footer">
        <div class="footer-info">
            <p>
                ИП Корзников Олег Леонидович <br>
                ОГРИП 312590531200123, ИНН 590578138109 <br>
                Телефон <phone>+7 (917) 578-67-06</phone> <br>
                <mail>Torro7001@rambler.ru</mail>
            </p>
            <p class="footer-copyright">
                {% trans '© Copyright 2023. All rights reserved' %}
            </p>
            <p class="footer-docs">
                <a href="{% static 'convert_order/pdf/Contract.pdf' %}">{% trans 'Contract offer' %}</a> <br>
                <a href="{% static 'convert_order/pdf/Procedure-of-payment-by-bank-cards.pdf' %}">{% trans 'Procedure for making payments and returns' %}</a> <br>
                <a href="{% static 'convert_order/pdf/Prices-for-provision-of-services.pdf' %}">{% trans 'Prices and description of services' %}</a>
            </p>
        </div>
    </footer>

    <!--------------- Cookies --------------->
    <div id="cookie-popup">
        <div class="container wrapper">
            <p class="cookie-text">{% trans 'This website uses cookies! By continuing to use our site, you automatically agree to their use' %}</p>
            <div class="wrapper">
                <img src="{% static 'convert_order/img/cookie-icon.svg' %}" alt="" id="cookie-icon">
                <button class="confirm-btn" id="cookie-confirm">{% trans 'Clear' %}</button>
            </div>
        </div>
    </div>
    <!--------------------------------------->
    <!--------------- Scripts --------------->
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'convert_order/js/base.js' %}"></script>
    <!--------------------------------------->
</body>
</html>
