<!DOCTYPE html>
<html>
<head>
    <title>Скачать файл</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        .button {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1> Ваш файл готов к скачиванию! </h1>
    <a class="button" href="{% url 'convert_order:download_file' order_id %}" download>Скачать файл</a>
    <a class="button" href="/">Конвертировать еще</a>
</body>
</html>
