{% extends 'convert_order/base.html' %}
{% load i18n %}
{% load static %}

{% block mainblock %}
<section class="about">
    <h1 class="form-title">{% trans 'About Converter' %}</h1>
    <p class="about-text">
        {% trans '1. Settings are transferred by matching the nodes (folders, attributes, criteria) of the old and new structure. Thus, all settings for the "old" nodes with their characteristics will be transferred to the new structure.' %} <br> <br>
        {% trans '2. If a node (folder, attribute, criterion) exists only in the old structure, then only nodes that have the "Technical" indicator in the X state are subject to transfer.' %}
    </p>
    <a href="{% url 'convert_order:clear_main' %}" class="return-btn">{% trans 'Back' %}</a>
</section>
{% endblock mainblock %}
