<!DOCTYPE html>
<html>
<head>
    <title>Загрузка файлов</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        .file-input {
            margin: 10px;
            width: 200px;
            height: 200px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1> {{ message|default:"Загрузка файлов" }} </h1>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-input">
            <input type="file" name="file1">
        </div>
        <div class="file-input">
            <input type="file" name="file2">
        </div>
        <button type="submit">Конвертировать</button>
    </form>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function() {
            // Сброс формы после отправки
            setTimeout(function() {
                document.getElementById('upload-form').reset();
            }, 0);
        });
    </script>
</body>
</html>
