{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% trans 'SAP XML - Generator Converter' %}</title>
    <link rel="stylesheet" href="{% static 'convert_order/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'convert_order/css/media.css' %}"> 
</head>

<body>
    <header class="header">
        <div class="container wrapper">
            <a href="{% url 'convert_order:clear_main' %}" class="logo">
                <img src="{% static 'convert_order/img/converter-logo.jpg' %}" alt="">
                <span>SAP XML Converter</span>
            </a>
            <div class="button-container">
                <a href="{% url 'users:login' %}" class="sign_in-btn">Вход</a> <!--  !!!!!!!!!!!!!  -->
                <a href="{% url 'users:register' %}" class="sign_in-btn">Регистрация</a>
                <button class="lang-btn">RU</button>
            </div>
        </div>
    </header>
    <section class="convert-info">
        <div class="info-content container">
            <a href="{% url 'convert_order:clear_main' %}" class="return-btn">Назад</a>

            <p class="convert-info-text">Как получить XML-файл «старой» структуры с настроенными правилами формирования
                тегов. <br>
                1. Открыть в SAP системе соответствующую иерархию отчета «старой» структуры (транзакция
                «J3RTAXREP - Иерархия системы отчетов»). В ней должны существовать настройки, которые Вы хотите
                перенести в новый формат иерархии отчета. <br>
                2. Меню «Иерархии -> Экспорт SAPXML -> Сохранить файл» на локальном компьютере. Файл готов.
                Перетащите файл в соответствующую область сайта SAPXMLConverterUp.ru</p>

            <video src="{% static 'convert_order/videos/button1_rus.mp4' %}" controls class="info-video"></video>
        </div> 


        <div class="info-block container wrapper">
            <div class="info">
                <p>
                    ООО "Рога и Копыта" <br>
                    <phone>+7-931-311-13-52</phone>
                </p>
            </div>
            <div class="info">
                <p>
                    Мы помогаем Вам сделать жизнь чуточку проще!
                </p>

                <div class="sup-btn-conteiner">
                    <a href="{% url 'support:support' %}" class="support-btn">Поддержка</a> 
                    <a href="{% url 'convert_order:info' %}" class="support-btn">О конвертере</a> 
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p class="footer-copyright">© Copyright 2023. Все права защищены</p>
    </footer>

</html>