{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>{% trans "Support" %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'convert_order/img/icon.png' %}"/> 
    <link rel="stylesheet" href="{% static 'convert_order/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'convert_order/css/media.css' %}"> 
</head>

<body>
    <header class="header">

        <div class="container wrapper">
            <a href="{% url 'convert_order:clear_main' %}" class="logo">
                <img src="{% static 'convert_order/img/converter-logo.jpg' %}" alt="">
                <span>{% trans "SAP XML Converter" %}</span>
            </a>
            <a href="{% url 'convert_order:clear_main' %}" class="sign_in-btn close">{% trans "Close" %}</a>
        </div>

    </header>

    <section id="support-form">
        <h1 class="form-title">{% trans "Support" %}</h1>
        <form method="POST" id="support-field" >
            {% csrf_token %}
            <div class="priority">
                <label for="priority">{% trans "Priority" %}:</label>
                <select name="priority" id="priority">
                    <option value="low">{% trans "Low" %}</option>
                    <option value="medium">{% trans "Medium" %}</option>
                    <option value="high">{% trans "High" %}</option>
                </select>
            </div>
            <div class="support-message">
                <label for="sup-message">{% trans "Message" %}:</label>
                <textarea name="message" id="sup-message" rows="3"></textarea>
            </div>
            <div class="support-mail">
                <label for="sup-mail">{% trans "Email" %}:</label>
                <input name="email" type="text" id="sup-mail">
            </div>

            <input type="submit" class="support-btn" value="{% trans 'Send' %}" id="sup-but">
        </form>
    </section>

    <footer class="footer">
        <p class="footer-copyright">{% trans '© Copyright 2023. All rights reserved' %}</p>
    </footer>
</body>

</html>
